table {
	margin-top: 10vh;
	background-color: green;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
}

table * {
	border: 1px solid black;
}

table th,
table td {
	width: 10vw;
}

table > thead > tr {
	height: 5vh;
}
